{
    "singleQuote": true,
    "tabWidth": 4,
    "printWidth": 120,
    "endOfLine": "lf",
    "arrowParens": "always",
    "trailingComma": "all",
    "overrides": [
        {
            "files": ["*.component.html"],
            "options": {
                "parser": "angular",
                "printWidth": 120
            }
        }
    ]
}
